[user]
	name = Andrea Bernardo Ciddio
	email = bcandrea@gmail.com

[github]
	user = bcandrea

[color]
	ui = auto

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%Cgreen%h %ad%Creset | %s%d [%an]\" --graph --date=short
	type = cat-file -t
  dump = cat-file -p
  # fs, feature start
  fs = "!f() { git flow feature start $1 && grb push; }; f"
  # ff, feature finish. Always push to the final branch (remote)
  # if it was successful
  # after the push, remove the remote feature branch with 'git push origin :feature/something'
  ff = "!f() { branch_name=`git symbolic-ref HEAD 2>/dev/null` && git flow feature finish && git push && git push origin :$branch_name; }; f"
